<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Games</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h3>Nouveau jeu</h3>

<form action="#" th:action="@{/games/update/(id=${game.id})}" th:object="${game}" method="post"
      class="form-group col-3" id="game_form"></form>

<form action="#" th:object="${rule}" method="post" th:action="@{/rules/insert/(id=${game.id})}" id="rule_form"></form>

<div class="form-group">
    <div class="form-control">
        <label for="name"> Name
            <input type="text" id="name" th:field="${game.name}" form="game_form">
        </label>
    </div>
    <div class="form-control">
        <label for="nb"> Nb joueurs
            <input type="number" id="nb" th:field="${game.nbJoueurs}" form="game_form">
        </label>
    </div>
</div>

<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
       aria-controls="collapseExample">
        Ajouter une règle
    </a>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">

        <div class="form-control">
            <label for="r_name"> Name
                <input type="text" id="r_name" th:field="${rule.name}" form="rule_form">
            </label>
        </div>
        <div class="form-control">
            <label for="r_description"> Description
                <input type="text" id="r_description" th:field="${rule.description}" form="rule_form">
            </label>
        </div>
<!--        <input type="hidden" id="r_game" th:field="${rule.game}" th:value="${game.id}" form="rule_form">-->
        <div class="form-control">
            <input type="submit" value="Ajouter la règle" form="rule_form">
        </div>

        </form>
    </div>
</div>
<div class="form-control col-3">
    <input type="submit" value="Mettre à jour" form="game_form">
</div>
</form>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>

